
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNavtwo">
    <div class="container">
      <a class="btn btn-primary" id="career" href="/home"><i class="fas fa-arrow-circle-left"></i>Zurück</a>
      <a class="btn btn-primary" id="areas" href="/home/#portfolio"><i class="fas fa-arrow-circle-left"></i>Zurück</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/home/#about">Über Uns</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/home/#services">Services</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/home/#portfolio">Unsere Arbeiten</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/karriere">Karriere</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/home/#contact">Kontakt</a></li>
                <% if(currentUser) {%>
                <li class="nav-item"><a class="nav-link " href="/admin/register">Registrieren</a></li>
                <li class="nav-item"><a class="nav-link " href="/admin/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<script type="text/javascript">
  $(document).ready(function () {
    // Check if the URL parameter is apples
    if (window.location.pathname.indexOf("karriere") > -1) {
      $("#career").css("display", "block");
      $("#areas").css("display", "none");
    } else {
      $("#career").css("display", "none");
      $("#areas").css("display", "none");
    }
  });
</script>
