<%- include("./partials/navbartwo")%>
<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/styles/subpages.css">
<link rel="stylesheet" href="/styles/informations.css">
<div class="block-subpage row justify-content-center">
  <section class="bg-primary text-center sub-section-one">
    <h2 class="text-white mt-0 ">Informationssicherheit</h2>
    <hr class="divider light my-4" />
    <p class="text-white-50 mb-4"><%-information.description%></p>
    <% if(currentUser) {%>
    <a href="/informationssicherheiten/<%=information._id%>/edit" class="btn btn-primary"
    >Bearbeiten</a>
    <% } %>
  </section>
  <section class="sub-section-two"

  </section>
</div>
