<!DOCTYPE html>
<html>
    <head>
        <title>ILM IT</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    <div id="landing-header">
 		<!-- <h1>ILM-IT</h1> -->
    <div class="">
      <img id="logo" src="/img/ILM_IT_3.png" alt="">
    </div>
    <!-- <p>Wir senken Ihre IT-Kosten</p> -->
    <div id="welcome-button">
      <a href="/home" class="btn btn-lg" id="btn-landing">Herzlich Willkommen</a>
    </div>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
