<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/portfolio.css">
<link rel="stylesheet" href="/styles/styles.css">
<div class="form" id="form-portfolio-new">
  <h1 class="">Block Hinzufügen</h1>
  <div class="col-6 offset-3">
    <form action="/portfolio" method="post"  enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Überschrift</label>
        <input class="form-control" type="text" id="title" name="port[title]" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="subtitle">Untertitel</label>
        <input class="form-control" type="text" id="subtitle" name="port[subtitle]" required>
      </div>
      <label class="form-label">Bilder</label>
      <!-- <div class="mb-3">
        <label for="formFile" class="form-label">Bilder</label>
        <input class="form-control" id="image" type="file" name="image" multiple>
      </div> -->
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" name="image" id="image" class="custom-file-input form-control" id="inputGroupFile02" lang="de" multiple>
          <label class="custom-file-label" id="file-input-new" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Datei Auswählen</label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="url">Überschrift</label>
        <input class="form-control" type="text" id="url" name="port[url]" required>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Speichern</button>
      </div>
    </form>
    <a class="btn btn-primary" href="/home">Zurück</a>
  </div>
</div>
