.table {
  width: 90%;
  margin: 0 auto;
}
#job-description p {
  margin: 0;
  color: #fff;
}

#job-description {
  margin: 0;
  color: #fff;
}

.card-title {
  color: #f67d00;
}

.btn-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#btn-back {
  margin: 2vh 0 2vh 0;
}
