body {
  background: #000;
}
#mainNav {
  display: none !important;
}

#mainNavtwo {
  background-color: #000;
}

section {
  padding: 5vh 0;
}

section p {
  width: 50%;
  margin: 0 auto;
}

#sub-section-two {
  width: 70%;
  margin: 0 auto;
}

#sub-section-two p {
  width: 95%;
  margin: 0 auto;
  color: #fff;
}

#text-right {
  text-align: justify;
  margin: 4vh 0 2vh 1vw !important;
  font-size: 14px !important;
}

#text-left {
  text-align: justify;
  margin: 4vh 0 !important;
  font-size: 14px !important;
}
.port-box-border {
  border: 2px solid #f67d00 !important;
}
.img-subpage {
  min-height: 350px !important;
  max-height: 350px !important;
}
/*  */

/*  */
